@page "/counter"
@page "/counter/{CurrentCount:int}"
@layout NestedLayout
@inject NavigationManager  UriHelper

<h1>Counter</h1>

<p>Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<a class="btn btn-primary" href="/">Home</a>
<button class="btn btn-primary"
        @onclick="StartFrom50">
    Start from 50
</button>


@code {

    [Parameter]
    public int CurrentCount { get; set; }

    void IncrementCount()
    {
        CurrentCount++;
    }

    void StartFrom50()
    {
        UriHelper.NavigateTo("/counter/50");
    }

}
